body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.service-header {
  font-weight: bold;
}

.service-body {
  max-height: 700px;
  overflow-y: auto;
}

.service-subheader {
  font-size: 16px;
  font-weight: bold;
}

.service-details {
  font-size: 16px;
}

.service-bottom-spacing {
  margin-bottom: 10px;
}

.service-right-spacing {
  margin-right: 10px;
}

.log-pre {
  margin: 0px;
  line-height: 10px;
}

.log-code {
  font-size: 10px;
  white-space: pre;
}

.stats-pre {
  line-height: 12px;
  margin-bottom: 0px;
}

.stats-code {
  font-size: 12px;
}
